<div class="container">
    <div class="card">
        <div class="post-body card-body">
            <div class="info card-subtitle text-muted">
                <a href="/api/user/{{id}}">{{user.username}}</a> posted on {{format_date created_at}}
            </div>            
            <div class="card-text">
                <a href="/post/{{id}}">{{post}}</a>
            </div>
            <div id="likes-dislikes">
                <p href="/post/{{id}}" id="likes">{{likes}} </p>
                <p href="/post/{{id}}" id="dislikes">{{dislikes}} </p>
            </div>
            <div id="LDC">
                <button id="LikeBtn"><img src="">Like</button>
                <button id="DislikeBtn"><img src="">Dislikes</button>
            </div>
        </div>
    </div>
</div>